:root{--Rubik:"Rubik", sans-serif;--Sora:"Sora", sans-serif;}
*{margin:0;padding:0;box-sizing:border-box;}
html{font-size:100%;}
body{font-size:16px;line-height:1.6;color:#1C1C1C;font-family:"Sora", sans-serif;font-optical-sizing:auto;font-weight:400;font-style:normal;font-variation-settings:"slnt" 0;}
p{color:#1C1C1C;font-weight:400;}
img{max-width:100%;}
ul{padding:0px;margin:0px;list-style:none;}
h1,h2,p{margin:0 0 15px;}
.container{max-width:1400px;width:96%;}
@media (max-width: 991px){
.container{width:100%;}
}
.sec{padding:90px 0;}
.dark-bg1{background:#0A0C33;position:relative;overflow:hidden;}
.dark-bg1 p,.dark-bg2 p,.dark-bg1,.dark-bg2{color:#B3B3B3;}
.dark-bg1 .container{position:relative;z-index:1;}
.sec-head{max-width:800px;margin:0 auto 45px;text-align:center;}
.sec-head h2{font-size:40px;color:#fff;font-weight:600;letter-spacing:1px;margin:0 0 10px;}
.sec-head h2 span{color:#FEB700;}
.dark-bg2{background:#10092C;position:relative;overflow:hidden;}
.dark-bg1:after{content:"";position:absolute;background:radial-gradient(ellipse at center, rgba(44, 50, 159, 1) 0%, rgba(255, 255, 255, 0) 100%);width:200px;height:200px;border-radius:50%;top:20px;right:-80px;filter:blur(20px);opacity:0.4;}
.dark-bg1:before{content:"";position:absolute;background:radial-gradient(ellipse at center, rgba(44, 50, 159, 1) 0%, rgba(255, 255, 255, 0) 100%);width:200px;height:200px;border-radius:50%;bottom:20px;left:-80px;filter:blur(20px);opacity:0.4;}
.dark-bg2:after{content:"";position:absolute;background:radial-gradient(ellipse at center, #43467E 0%, rgba(255, 255, 255, 0) 100%);width:200px;height:200px;border-radius:50%;top:20px;right:-80px;filter:blur(20px);opacity:0.3;}
.dark-bg2:before{content:"";position:absolute;background:radial-gradient(ellipse at center, #43467E 0%, rgba(255, 255, 255, 0) 100%);width:200px;height:200px;border-radius:50%;bottom:20px;left:-80px;filter:blur(20px);opacity:0.3;}
.q-img-r{position:absolute;right:4%;bottom:25%;}
.q-img-l{position:absolute;left:2%;top:7%;}
.dark-bg2 .container{position:relative;z-index:1;}
.q-img-r{animation:float 6s ease-in-out infinite;}
.q-img-l{animation:float1 6s ease-in-out infinite;}
.dark-bg1:before{content:"";position:absolute;background:radial-gradient(ellipse at center, rgba(44, 50, 159, 1) 0%, rgba(255, 255, 255, 0) 100%);width:200px;height:200px;border-radius:50%;bottom:20px;left:-80px;filter:blur(20px);opacity:0.4;}
.dark-bg1:after{content:"";position:absolute;background:radial-gradient(ellipse at center, rgba(44, 50, 159, 1) 0%, rgba(255, 255, 255, 0) 100%);width:200px;height:200px;border-radius:50%;top:20px;right:-80px;filter:blur(20px);opacity:0.4;}
.inner-banner{position:relative;z-index:1;background:linear-gradient(180deg, #060b7a 0%, #040f52 100%);}
.inner-banner .row{min-height:400px;}
.inner-banner h1{font-size:60px;color:#ffffff;font-weight:700;line-height:72px;text-align:left;font-family:var(--Rubik);text-align:center;}
.bg-fixed{position:absolute;width:100%;height:100%;top:0;left:0;z-index:-1;object-fit:cover;}
.inner-banner .bg-fixed{opacity:0.44;}
.inner-banner p{color:#FEB700;text-align:center;font-family:Sora;font-size:16px;font-weight:600;line-height:22.4px;letter-spacing:0.1em;margin:0 0 0px;}
.inner-banner p.breadcrumbs{font-family:Sora;font-size:16px;font-weight:300;line-height:19.2px;text-align:left;position:absolute;left:50%;transform:translateX(-50%);width:100%;text-align:center;bottom:10px;color:#EEEEEE;}
.list-style-squre{list-style:none;margin:0;padding:0;}
.list-style-squre li{position:relative;padding-left:15px;}
.list-style-squre li:before{content:"";width:5px;height:5px;background:#ffffff;display:inline-block;position:absolute;left:0;top:12px;}
.list-style-squre li{color:#ffffff;font-size:16px;font-family:var(--sora);margin-bottom:15px;}
.features-list .col{flex:0 0 20%;max-width:20%;}
.feature-card{text-align:center;padding:35px 10px;background:#1A1E75;border-radius:10px;}
.feature-card h2{color:#ffffff;font-size:20px;font-weight:600;font-family:var(--Sora);margin:20px 0 10px;}
.feature-card p{color:#B3B3B3;font-size:18px;font-weight:300;}
.marketplace-sec p{color:#B3B3B3;font-size:18px;font-family:var(--Sora);}
.marketplace-sec .img-holder img{max-width:95%;}
.marketplace-sec .img-holder{text-align:right;}
.deploystrategy-sec .list-style-squre li{color:#B3B3B3;}
.deploystrategy-sec .list-style-squre li::before{background-color:#B3B3B3;}
.deploystrategy-sec .img-holder img{max-width:95%;}
.deploystrategy-sec .img-holder{text-align:right;}

@media screen and (max-width: 1499px){
.container{max-width:1260px;width:90%;}
body{font-size:15px;}
.sec-head h2{font-size:34px;}
.q-img-r{position:absolute;right:1%;bottom:15%;max-width:70px;}
.features-list .col{flex:0 0 33.33%;max-width:33.33%;margin-bottom:30px;}
}
@media screen and (max-width: 1199px){
body{font-size:15px;line-height:1.6;}
.sec{padding:60px 0;}
.sec-head h2{font-size:30px;}
.container{width:96%;}
.inner-banner .row{min-height:300px;}
.inner-banner h1{font-size:50px;line-height:1.4;}
.list-style-squre li,.marketplace-sec p{font-size:15px;}
}
@media screen and (max-width: 991px){
.sec{padding:45px 0;}
.quine-img{display:none;}
.inner-banner .row{min-height:300px;}
.inner-banner h1{font-size:40px;line-height:1.4;}
}
@media screen and (max-width: 767px){
body{font-size:14px;}
.sec{padding:35px 0;}
.sec-head h2{font-size:24px;}
.inner-banner .row{min-height:250px;}
.inner-banner h1{font-size:32px;line-height:1.4;}
.list-style-squre li,.marketplace-sec p{font-size:14px;}
.features-list .col{flex:0 0 50%;max-width:50%;}
.feature-card h2{font-size:18px;}
.feature-card p{font-size:16px;}
}
@media (max-width: 400px){
.features-list .col{flex:0 0 100%;max-width:100%;}
}
@media (max-width: 400px){
.features-list .col{flex:0 0 100%;max-width:100%;}
}
/*! CSS Used keyframes */
@keyframes float{0%{transform:translatey(0px);}50%{transform:translatey(-50px);}100%{transform:translatey(0px);}}
@keyframes float1{0%{transform:translatex(0px);}50%{transform:translatex(-50px);}100%{transform:translatex(0px);}}